<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AI Quiz Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>AI Quiz Maker</h1>
  
  <div class="top-right">
    <h3>Team DJK</h3>
    <h3>Spring 2025 </h3>
  </div>
  

  <form method="POST" enctype="multipart/form-data" class="form-block">
    <label for="pdf">Upload PDF:</label><br>
    <input type="file" id="pdf" name="pdf" accept="application/pdf" required><br><br>

    <label for="num_questions">Number of Questions:</label><br>
    <input type="number" id="num_questions" name="num_questions" min="1" max="20" required><br><br>

    <label for="question_type">Question Type:</label><br>
    <select id="question_type" name="question_type">
      <option value="multiple_choice">Multiple Choice</option>
      <option value="true_false">True/False</option>
    </select><br><br>

    <button type="submit">Generate Quiz</button>
  </form>

</body>
</html>
