<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Generated Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>Quiz</h1>

  <div class="top-right">
    <h3>Team DJK</h3>
    <h3>Spring 2025 </h3>
  </div>

  <form method="POST" class="form-block">

    {% for q in quiz %}
      <div class="question-block">
        <p class="question-text">{{ loop.index }}. {{ q.question }}</p>

        {% for val, label in q.options %}
          <label class="option">
            <input type="radio" name="{{ q.id }}" value="{{ val }}" required>
            {{ label }}
          </label><br>
        {% endfor %}

        <hr>
      </div>
    {% endfor %}
    
    <button type="submit">Submit Answers</button>
  </form>

</body>
</html>
